/* Color de fondo de pagina */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant+SC:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
.fondo{
    margin: 0; 
    padding: 0; 
    background-image: linear-gradient(to right, rgb(194, 190, 190) 0%, rgb(194, 190, 190) 50%, grey 50%, grey 100%);
    position: relative;
    width: 1341px;
    height: 900px;
    overflow: hidden;
}

/* Tamaño de las imagenes y recursos de la pagina */
.imgDiscosBN{
    width:452px;
    height:360px;
    position: relative;
    top: 150px;
    left: 80px;
    z-index: 2;
}
.ImgHombreBN{
    width:395px;
    height:461px;
    position: relative;
    top: 66px;
    right: 450px;
    z-index: 1;
}
.imgMujerBN{
    width:271px;
    height:406px;
    position: relative;
    top: 285px;
    right: 470px;
    z-index: 1;
   
}
.Ubicacion{

    font-family: "Cormorant Garamond", serif;
    color: #cecdc2;
    width:400px;
    height:276px;
    position: relative;
    top: -150px;
    left: 770px;
    z-index: 0;
    size: 64px;
    line-height: 77.5px;
    letter-spacing: 4%;
    align-items: center;
    font-size: 20px;
    font-weight: 300;



}
.Regtangulo1{
    background-color:#E8DB68;
    width: 219px;
    height: 269px; 
    opacity: .4;  
    position: relative;
    bottom: 570px;
    left: 335px;
    z-index: 1;

}
.Regtangulo2{
    background-color: #AA712E;
    width: 219px;
    height: 269px; 
    opacity: .4;
    position: relative;
    bottom: 596px;
    left: 195px;
    z-index: 1;
}
.power{
    font-family: benne;
    color: #101010;
    width:500px;
    position: relative;
    bottom: 600px;
    left: 20px;
    z-index: 3;
     font: Benne;

}
.div{
    width: 452px;
    height: 360px;
    position: relative;
    top: 150px;
    left: 80px;
    z-index: 3;
}
.letras{
    font-family: Cormorant Sc;
    color: #cecdc2;
    width:500px;
    height:100px;
    position: relative;
    top: -350px;
    left: 770px;
    z-index: 0;
    size: 64px;
    line-height: 20.5px;
    letter-spacing: 4%;
    align-items: center;
}